
<div class="container">
  <header>
    <h2>Cadastro usuário</h2>
  </header>


  <form class="formulario">

    <div class="campoNome">
      <label for="nome">Nome</label>
      <input type="text">
    </div>

    <div class="campoEmail">
      <label for="email">Email</label>
      <input type="text">
    </div>

    <div class="nickname">
      <label for="nickname">Nickname</label>
      <input type="text">
    </div>

    <div class="nomeUsuario">
      <label for="username">Nome de usuário</label>
      <input type="text">
    </div>

    <div class="senha">
      <label for="senha">Senha</label>
      <input type="text">
    </div>

    <div class="funcao">
      <label for="funcao">Função</label>
      <select name="funcao" id="funcao">
        <option value="">Lurker</option>
        <option value="">Awp</option>
        <option value="">Faz nada</option>
      </select>
    </div>

    <div class="tipo">
      <label for="tipo">Tipo</label>
      <select name="tipo" id="tipo">
        <option value="">Moderador</option>
        <option value="">Administrador</option>
        <option value="">Editor</option>
        <option value="">Membro</option>
      </select>
    </div>


    <button>Registrar</button>

  </form>
</div>






