

<div>
  <form action="">

    <div class="container">

      <div class="campo nome">
        <label for="">Nome</label>
        <input class="tamanhoCampo margi" type="text">
      </div>

      <div class="campo">
        <label for="">Email</label>
        <input class="tamanhoCampo margi" type="">
      </div>

      <div class="campo">
        <label for="">Nick Name</label>
        <input class="tamanhoCampo margi" type="text">
      </div>

      <div class="campo">
        <label for="">Função do Player</label>
        <input class="tamanhoCampo margi" type="">
      </div>

      <div class="campo">
        <label  for="">Nome de usuário</label>
        <input class="tamanhoCampo margi" type="text">
      </div>

      <div class="campo">
        <label  for="">Senha</label>
        <input class="tamanhoCampo margi" type="text">
      </div>

      <div class="campo">
        <label  for="">Tipo de usuário</label>
        <input class="tamanhoCampo margi" type="text">
      </div>

    </div>
<!--
    <div>
      <button class="criar">Criar</button>
    </div> -->

  </form>

</div>
