
  <form class="container" action="">


      <div class="campoNome">
        <label for="">Nome</label>
        <input class="tamanhoCampo" type="text">
      </div>


      <div class="">
        <label for="">Nick Name</label>
        <input class="" type="text">
      </div>


      <div class="">
        <label for="">Email</label>
        <input class="" type="">
      </div>

      <div class="">
        <label for="">Função do Player</label>
        <input class="" type="">
      </div>


      <div class="">
        <label  for="">Nome de usuário</label>
        <input class="" type="text">
      </div>

      <div class="campoSenha">
        <label  for="">Senha</label>
        <input class="" type="text">
      </div>

      <div class="">
        <label  for="">Tipo de usuário</label>
        <input class="" type="text">
      </div>




  </form>


