<form class="row g-3" [formGroup]="form">

  <div class="col-md-4">

    <label for="nome" class="margem">Nome do Curso</label>
    <input
      type="text"
      class="form-control"
      id="nome"
      placeholder="Digite o nome do curso"
      formControlName="nome"
      [ngClass]="{ 'is-invalid': hasError('nome') && submitted}"
    />



      <div class="invalid-feedback"
       *ngIf="hasError('nome') && hasError('nome')?.required">
        Informe o nome para o Curso
      </div>

      <div class="invalid-feedback"
       *ngIf="hasError('nome') && hasError('nome')?.minlength">
        Precisar ter no minimo {{hasError('nome')?.minlength.requiredLength}} caracteres.
      </div>

      <div class="invalid-feedback"
       *ngIf="hasError('nome') && hasError('nome')?.maxlength">
        Pode ter no máximo {{hasError('nome')?.maxlength.requiredLength}} caracteres.
      </div>


  </div>

  <div class="margem">
    <button (click)="onSubmit()" type="submit" class="btn btn-primary">
      Salvar
    </button>
    <button (click)="onCancel()" type="button" class="btn btn-default">
      Cancelar
    </button>
  </div>
</form>
