

  <div class="adminPainel">Admin Painel</div>

<div class="menu">
  <nav>
    <ul>
      <li class="testar">
        <i class="material-icons">home</i>
        <span>
          <a routerLink="">Home</a>
        </span>
      </li>

      <li>
        <div class="testar">
          <i class="material-icons">home</i>
          <span>Usuário</span>
        </div>
        <ul class="submenu">
          <li>
            <a href="">All user</a>
          </li>
          <li>
            <a href="">Register</a>
          </li>
          <li>
            <a href="">#</a>
          </li>

        </ul>
      </li>

    </ul>
  </nav>
</div>


